<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>GIDClientID</key>
    <string>503939690280-kkqvujokqsa11vvmlduraa0rv63pa3cs.apps.googleusercontent.com</string>

    <!-- Google Sign-in Section -->
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.503939690280-kkqvujokqsa11vvmlduraa0rv63pa3cs</string>
            </array>
        </dict>
    </array>
    <!-- End of the Google Sign-in Section -->


    <!-- Speech Recognition Permission -->
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This app uses speech recognition to transcribe your voice input.</string>

    <!-- Microphone Permission -->
    <key>NSMicrophoneUsageDescription</key>
    <string>This app needs access to your microphone to record your voice input.</string>


    <!-- Location Permissions -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app uses your location to provide real-time assistance and emergency services.</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app requires access to your location at all times to monitor your safety and provide emergency assistance even when the app is in the background.</string>


    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>

    <key>CFBundleDisplayName</key>
    <string>Life Line Victim</string>

    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>

    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>life_line_victim</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>

    <key>CFBundleSignature</key>
    <string>????</string>

    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>

    <key>LSRequiresIPhoneOS</key>
    <true/>


    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>

    <key>UIMainStoryboardFile</key>
    <string>Main</string>


    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>


    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>


    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>

    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>


    <!-- Background Location Permission -->
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
    </array>


    <!-- connectivity_plus Permission -->
    <key>NSLocalNetworkUsageDescription</key>
    <string>This app uses local network access to check connectivity status.</string>


</dict>
</plist>